<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Infinite Scroll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    @for(gif of trendingGifs ; track gif.id){
      <img [src]="gif.images.downsized.url" alt="">
    } @empty {
      Loading...
    }
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"/>
  </ion-infinite-scroll>
</ion-content>
